
body {
    font-family: 'Sora', sans-serif;
    background-color: rgb(0, 0, 0);
    user-select: none;
}

h1 {
    font-size: 70px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 0 0 13px rgb(255, 255, 255);
    color: white;
}

h2 {
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

h3 {
    font-size: 30px;
    color: white;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

p {
    text-align: center;
    margin: 40px 20px 60px 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;;
}

#byivan {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgb(255, 255, 255);
    font-size: 20px;
}

#topimages {
    text-align: center;
    margin-top: 50px;   
}

.topimage {
    width: 300px;
    margin: 25px;
    border: 2px solid rgb(44, 44, 44);
    border-radius: 5px;
    box-shadow: 0px 1px 20px 2px rgb(163, 163, 163);
    transition: 1s;
}

.topimage:hover {
    width: 300px;
    margin: 25px;
    border: 2px solid rgb(255, 145, 0);
    border-radius: 5px;
    box-shadow: 0px 1px 20px 2px rgb(139, 0, 167);
}

#icons {
    text-align: center;
    margin: 10px 0px 50px 0px;
}

.icons {
    width: 60px;
    margin: 10px 50px 10px 50px;
    transition: 1s;
}

.icons:hover {
    width: 70px;
    margin: 0px 40px 0px 40px;
}

.info {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.infopar {
    margin: 0px 180px 0px 180px;
}

#citati {
    color: white;
    margin: 20px 0px 60px 0px;
    text-align: center;
}

#citatinaslov {
    margin-top: 60px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

dt {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: 0 0 3px rgb(255, 255, 255);
}

dd {
    font-size: 20px;
    font-style: italic;
}

footer {
    padding: 20px 10px 20px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(17, 17, 17);
 }

 #btt  {
    text-align: center;
    margin-top: 25px;
}

 .futerp {
     margin: 5px 0px 0px 0px;
     color: white;
 }

 /* a:visited {
    color: white;
} */

a { 
    text-decoration: none; 
    color: white;
    transition: 0.5s;
} 


a:hover { 
    
    color: orangered;
} 


@media screen and (max-width: 1110px) {

    h1 {
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        text-shadow: 0 0 13px rgb(255, 255, 255);
        color: white;
    }

    .topimage {
        width: 200px;
        margin: 25px;
        border: 2px solid rgb(44, 44, 44);
        border-radius: 5px;
        box-shadow: 0px 1px 20px 2px rgb(163, 163, 163);
        transition: 1s;
    }

    .topimage:hover {
        width: 200px;
        margin: 25px;
        border: 2px solid rgb(255, 145, 0);
        border-radius: 5px;
        box-shadow: 0px 1px 20px 2px rgb(139, 0, 167);
    }
    

    .infopar {
        margin: 0px 80px 0px 80px;
    }
    
    p {
        font-size: 14px;
    }

    #btt  {
        text-align: center;
        margin-top: 25px;
    }

    .backtotop {
        font-size: 14px;
    }

}

@media screen and (max-width: 650px) {


    .infopar {
        margin: 0px 5px 0px 5px;
    }
    
    p {
        font-size: 12px;
    }

    h2 {
        font-size: 28px;
    }

    dt {
        font-size: 18px;
    }

    dd {
        font-size: 12px;
        font-style: italic;
    }

}
